development:
  server: ...
  backup_access_key_id: ...
  backup_secret_access_key: ...
  backup_bucket: ...
  backup_notify_url: ...
  backup_notify_params: ...
  backup_gpg_email: ...
  backup_gpg_public_key: |
    -----BEGIN PGP PUBLIC KEY BLOCK-----
    ...
    -----END PGP PUBLIC KEY BLOCK-----
