production:
  # The host domain, required
  server_name: lifemessager.com

  # The nickname and deliverer for mail address, required, example:
  #
  #   mailer_nickname <mailer_deliverer@server_name>
  #
  mailer_nickname: LifeMessager
  mailer_deliverer: alfred

  # Mailgun (mail service) api key, required
  mailgun_api_key: ...

  # Sentry (error report service) api key, optional
  sentry_dsn: ...

  # Image Storage
  upyun_username: ...
  upyun_password: ...
  upyun_bucket: ...
  upyun_bucket_host: ...

  # Limit registered user count, optional
  # user_limit: 100

  # Config for backup database to amazon s3
  # Required
  backup_database: true
  # Required if `backup_database` is true
  backup_access_key_id: ...
  backup_secret_access_key: ...
  backup_bucket: ...
  backup_region: ...
  backup_notify_url: ...
  backup_notify_params: ...
  backup_gpg_email: ...
  backup_gpg_public_key: |
    -----BEGIN PGP PUBLIC KEY BLOCK-----
    ...
    -----END PGP PUBLIC KEY BLOCK-----
  # Optional
  backup_fog_option: ...
