
- @diary_notes.each do |note|
  %section{style: "margin-bottom: 20px"}!= note_content_to_html(note.content)

- if @diary_notes.empty?
  %section= t 'diary_mailer.daily.empty_diary_content'

%hr

%section= t 'diary_mailer.daily.login_link'

%section
  %a{href: @token.login_url}= @token.login_url
